﻿@{
    Layout = null;
    string url = Request.Url.Scheme + "://" + Request.Url.Host;
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <title>@ViewBag.Title | 全視線</title>
    <meta name="description" content="描述">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta property="og:image" content="@url/Content/Transitions/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="@url">
    <meta name="twitter:image" content="@url/Content/Transitions/img/og.jpg">
    <meta name="theme-color" content="#002f75">
    <meta name="msapplication-navbutton-color" content="#002f75">
    <meta name="apple-mobile-web-app-status-bar-style" content="#002f75">
    <link rel="canonical" href="@url">
    <link rel="icon" href="~/Content/Transitions/img/ico.png" type="image/ico">
    <link rel="stylesheet" href="~/Content/Transitions/css/style.css">
    @RenderSection("head", required: false)
</head>
<body>
    <header class="bg-primary">
        <div class="container">
            <nav class="navbar navbar-expand-m navbar-dark">
                <h1 class="navbar-brand">
                    <a class="block txt-hide" href="/">@ViewBag.Title<img class="logo" src="~/Content/Transitions/img/logo.png" alt="@ViewBag.Title"></a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="mobile-menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/#event">
                                <svg class="img-fluid" fill="currentColor" width="40" height="25">
                                    <use xlink:href="~/Content/Transitions/img/sprite.svg#word"></use>
                                </svg><span class="v-middle">活動辦法</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="registerlink" href="~/Content/中獎名單公告.pdf" target="_blank">
                                <svg class="img-fluid" fill="currentColor" width="40" height="25">
                                    <use xlink:href="~/Content/Transitions/img/sprite.svg#login"></use>
                                </svg><span class="v-middle">中獎名單公告</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="registerlink" href="https://www.surveycake.com/s/R4Wvb" target="_blank">
                                <svg class="img-fluid" fill="currentColor" width="40" height="25">
                                    <use xlink:href="~/Content/Transitions/img/sprite.svg#word"></use>
                                </svg><span class="v-middle">中獎人兌獎資料填寫區</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer class="bg-primary py-1">
        <h6 class="txt-center txt-white txt-normal txt-lg">&copy; 2021 Transitions Optical Limited.</h6>
    </footer>
    <script src="~/Content/Transitions/js/vendors.js"></script>
    <script src="~/Content/Transitions/js/script.js?v=111"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    @if (TempData["Message"] != null)
    {
        <script>
        var msg = '@TempData["Message"]';
        var result = '@TempData["Result"]';

        Swal.fire({
            position: 'top-center',
            icon: result,
            title: msg,
            showConfirmButton: false,
            timer: 2000
        })
        window.location.hash = "register";

        @{TempData["Result"] = null;}
        @{ TempData["Message"] = null; }
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>