﻿<!-- Small boxes (Stat box) -->
<section class="content">
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-5" style="margin-top:20px">
            <!-- small box -->
            <div class="small-box bg-aqua" style="background-color:deepskyblue;color:#fff">
                <div class="inner">
                    <h3>前台連結</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="@Request.Url.Scheme://@Request.Url.Host" class="small-box-footer" target="_blank">前往網站前台<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
