﻿@{
    var siteNameAbbreviation = @_2bTransitionsevent.Models.Cmind.SiteSetting.SiteNameAbbreviation;
    var siteName = @_2bTransitionsevent.Models.Cmind.SiteSetting.SiteName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@siteNameAbbreviation | @siteName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .nav-sidebar .nav-link p {
            color: #c2c7d0
        }

        [class*=sidebar-dark-] .sidebar a {
            color: #c2c7d0;
        }

        .nav-icon {
            color: #c2c7d0
        }
    </style>
    @RenderSection("styles", required: false)

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>

        <!-- 左側選單 -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "HomeAdmin")" class="brand-link">
                <img src="~/Content/AdminLTE-3.0.4/dist/AdminLTELogo.png" alt="Admin" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light" style="margin-left:20px">Admin @siteName</span>
            </a>
            @Html.Partial("_SidebarMenu")
        </aside>
        <!--左側選單 END-->
        <!--主要內容 START-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!--主要內容 END-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong><a href="@_2bTransitionsevent.Models.Cmind.SiteSetting.MaintainerWebSite" target="_blank">@_2bTransitionsevent.Models.Cmind.SiteSetting.Maintainer</a>.</strong>
        </footer>
    </div>

    <script src="~/Content/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE-3.0.4/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminLTE-3.0.4/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminLTE-3.0.4/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>

    <script src="~/Scripts/Admin/custom.js"></script>

    <!--錯誤訊息-->
    @Html.Partial("_PromptNotification")
    @RenderSection("scripts", required: false)
</body>
</html>

