﻿
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="@Url.Action("Index", "ExchangeAdmin")" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    序號兌換管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Statistical", "ExchangeAdmin")" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    商店兌換統計表
                </p>
            </a>
        </li>
        <li class="nav-item user-panel">
        </li>
        <li class="nav-item" style="margin-top:20px;">
            <a href="/Admin/AuthAdmin/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    登出
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
<!-- /.sidebar -->