﻿@model _2bTransitionsevent.ViewModels.Exchange.ExchangeIndexView
@{
    ViewBag.Title = "達成入門禮";
    var pointTitle = Model.PageResult.Count() >= 50 ? "門市已達獲贈入門禮的資格" : "再集" + (50 - Model.PageResult.Count()) + "筆即可獲贈入門禮";
    string url = Request.Url.Scheme + "://" + Request.Url.Host;
}
@section head{
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url">
}

<section class="bg-transparent-image txt-center txt-bold tracking-xl-wider py-3 py-m-5 loading">
    <div class="feature-3 txt-primary mb-l-3">
        <svg class="img-fluid" id="firework-icon" fill="currentColor" width="100" height="100">
            <use xlink:href="~/Content/Transitions/img/sprite.svg#fireworks">
                <animate id="fireworks" attributeName="fill" to="currentColor" dur="0.1s" begin="click"></animate>
            </use>
            <circle cx="42" cy="35" r="0" fill="rgba(255,255,255,0)" stroke="currentColor" stroke-width="4">
                <animate attributeName="fill" to="#e62e8b" fill="freeze" dur="0.5s" begin="fireworks.end+0.3s"></animate>
                <animate attributeName="cx" to="40" dur="0.3s" fill="freeze" begin="fireworks.end+0.3s"></animate>
                <animate attributeName="cy" to="6" dur="0.3s" fill="freeze" begin="fireworks.end+0.3s"></animate>
                <animate attributeName="r" to="4" dur="0.3s" fill="freeze" begin="fireworks.end+0.3s"></animate>
            </circle>
            <circle cx="50" cy="45" r="0" fill="rgba(255,255,255,0)" stroke="currentColor" stroke-width="4">
                <animate attributeName="fill" to="#ffea00" fill="freeze" dur="0.5s" begin="fireworks.end"></animate>
                <animate attributeName="cx" to="65" dur="0.3s" fill="freeze" begin="fireworks.end"></animate>
                <animate attributeName="cy" to="14" dur="0.3s" fill="freeze" begin="fireworks.end"></animate>
                <animate attributeName="r" to="4" dur="0.5s" fill="freeze" begin="fireworks.end"></animate>
            </circle>
            <circle cx="50" cy="65" r="0" fill="rgba(255,255,255,0)" stroke="currentColor" stroke-width="4">
                <animate attributeName="fill" to="#002f75" fill="freeze" dur="0.5s" begin="fireworks.end+0.4s"></animate>
                <animate attributeName="cx" to="89" dur="0.3s" fill="freeze" begin="fireworks.end+0.4s"></animate>
                <animate attributeName="cy" to="68" dur="0.3s" fill="freeze" begin="fireworks.end+0.4s"></animate>
                <animate attributeName="r" to="4" dur="0.5s" fill="freeze" begin="fireworks.end+0.4s"></animate>
            </circle>
        </svg>
    </div>
    <p class="txt-xl txt-primary">
        恭喜你已經成功登錄
        <span class="txt-heading txt-bold txt-secondary">@Model.PageResult.Count()</span>&nbsp;筆抽獎資料<br>
    </p>
    <p>@pointTitle。<br>請繼續推薦最好的全視線給更多消費者</p>
    <p class="txt-xl bg-gradient i-block px-3 py-1 px-l-5">賣越多中獎機率越高，<br class="hidden-m">200項蘋果商品等你抽~</p>
    <div class="container">
        <div class="px-3 px-m-5 px-xl-6">
            <hr>
        </div>
        <div class="loyalty-card px-2 px-l-4 px-xl-5">
            @foreach (var item in Model.PageResult.Select((value, index) => new { value, index }).Take(50))
            {
                <div class="bg-contain loyalty-point collected" data-num="@item.index" data-toggle="tooltip" title="@item.value.Sales @item.value.CreateTime.ToString("yyyy/MM/dd")"></div>
            }
            @if (Model.PageResult.Count() < 50)
            {
                for (int i = Model.PageResult.Count() + 1; i <= 50; i++)
                {
                    <div class="bg-contain loyalty-point" data-num="@i"></div>
                }
            }
        </div>
    </div>
</section>