﻿@model _2bTransitionsevent.ViewModels.Exchange.ExchangeView
@{
    ViewBag.Title = "活動首頁";
    string url = Request.Url.Scheme + "://" + Request.Url.Host;
    var date = new DateTime(2021, 10, 7, 12, 0, 0);
    var now = DateTime.Now;
    var css = date > now ? "" : "hidden";
}
@section head{
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url">
    <style>
        .text-danger {
            width: 100%;
            margin-top: .25rem;
            font-size: 1rem;
            font-weight:bold;
            color: #dc3545;
        }
    </style>
}


<section class="txt-subtitle txt-center bg-gradient-secondary pb-3">
    <div class="rel">
        <div class="pentagon bg-cover rel z-top py-3 py-m-5" style="z-index:1">
            <div class="container">
                <div class="row justify-end">
                    <div class="col-m-8 col-xl-auto"><img class="img-fluid" src="~/Content/Transitions/img/banner-text.png" alt="全視線感謝相挺，果然好禮超過200項，Apple商品感恩放送。"></div>
                </div>
            </div><a href="#register">
                <svg class="abs w-100 h-100 top-0 left-0 z-top" id="banner" xmlns="http://www.w3.org/2000/svg">
                    <use class="glitter" xlink:href="~/Content/Transitions/img/sprite.svg#arrow-b" fill="white" height="40" y="90%">
                        <animateTransform attributeName="transform" dur="0.6s" type="translate" values="0,-5;0,5" keyTimes="0;1" keySplines=".42 0 1 1" repeatCount="indefinite" calcMode="spline"></animateTransform>
                    </use>
                </svg>
            </a>
        </div>
        <div class="pentagon-shadow bg-cover"></div>
    </div>
    <div class="container txt-bold pt-3 pt-m-5" id="event">
        <div class="row justify-center gy-2 gy-m-3">
            <div class="col-l-9">
                <h2 class="feature-2 txt-primary mb-3">感謝相挺<span class="hidden inline-m">&nbsp;</span><br class="hidden-m">果然好禮</h2>
                <h3 class="feature-3">活動時間</h3>
                <p>
                    <time>2021/<span class="txt-secondary">8/1 ~ 9/30</span></time>
                </p>
            </div>
            <div class="col-l-9">
                <h3 class="feature-3">活動對象</h3>
                <p>全視線經銷眼鏡通路</p>
            </div>
            <div class="col-l-9">
                <h3 class="feature-3">活動辦法</h3>
                <ul class="txt-justify gy-1" style="padding-inline-start:1.75rem">
                    <li>眼鏡門市凡向鏡片供應商訂購一付全視線鏡片(不限品牌、系列)， 即可獲得一張抽獎卡，掃描QR code前往登錄參加抽獎，即有機會 抽中iPhone 12、Apple Watch、AirPods、Apple HomePod  mini...等200項大獎。</li>
                    <li>門市登錄累積達50點，即贈入門好禮。</li>
                </ul>
            </div>
            <div class="col-l-9">
                <h3 class="feature-3">抽獎日期</h3>
                <p>2021/10/8</p>
            </div>
            <div class="col-l-9">
                <h3 class="feature-3">中獎公布</h3>
                <p>抽獎後一周內於網站公布中獎名單，<br class="hidden-xl">並以電話個別通知得獎人。<br>完整名單公布於11月號當代雜誌。</p>
            </div>
            <div class="col-l-9">
                <h3 class="feature-3">活動專線</h3>
                <p class="mb-1"><a href="tel:02-3322-3585">02-3322-3585</a></p>
                <div class="b-gray-8 p-1">
                    <ol class="txt-md txt-gray-8 txt-justify mb-0" style="padding-inline-start:1rem">
                        <li>每個序號限登錄一次，不得重複參與，如違反以上規定將取消抽獎資格。</li>
                        <li>全視線活動公司保留對本活動參加辦法、贈品、抽獎時間及得獎公布的修改權力，修改後不再另行告知。如本活動因不可抗力之特殊原因無法執行時，全視線公司有權決定取消、終止、修改或暫停本次活動。</li>
                        <li>獎品以實物為準，不得選擇顏色。如遇Apple公司不可抗力之事由(如停產、缺貨、延遲送達等)導致獎品內容變更， 全視線公司有權變更贈品，改由等值商品取代之。</li>
                        <li>主辦與執行單位不負擔贈品之任何維護或保固責任。</li>
                        <li>此活動僅限眼鏡專業通路人員參加，消費者不具參加資格。</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-layers py-3 py-m-5">
    <div class="container txt-center txt-lg">
        <h2 class="feature-2 txt-primary mb-2">Apple商品<span class="hidden inline-m">&nbsp;</span><br class="hidden-m">感恩放送</h2>
        <p class="i-block b-gray-8 txt-gray-8 px-1">贈品顏色僅為圖示，<br class="hidden-m">實際顏色以實物為準</p>
        <div class="row justify-center gy-2 gy-m-3 py-4 bb-gray-8 mb-4">
            <div class="col-6 col-l-4 px-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/iphone.png" alt="">
                <h4 class="txt-subtitle txt-nowrap">iphone 12 /64G</h4>
                <p>NT$23,900</p>
            </div>
            <div class="col-6 col-l-4 px-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/iwatch-b.png" alt="">
                <div class="txt-left i-block mx-auto">
                    <h4 class="txt-subtitle txt-nowrap">Apple Watch 6</h4>
                    <p>44mm, GPS</p>
                    <p class="mt-0">藍色鋁金屬錶殼</p>
                    <p class="mt-0">運動型錶環 NT$13,900</p>
                </div>
            </div>
            <div class="col-6 col-l-4 px-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/iwatch-y.png" alt="">
                <div class="txt-left i-block mx-auto">
                    <h4 class="txt-subtitle txt-nowrap">Apple Watch 6</h4>
                    <p>40mm, GPS</p>
                    <p class="mt-0">太空灰色鋁金屬錶殼</p>
                    <p class="mt-0">運動型錶環 NT$12,900</p>
                </div>
            </div>
            <div class="col-6 col-l-4 px-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/airpod.png" alt="">
                <h4 class="txt-subtitle txt-nowrap">AirPods</h4>
                <p>NT$5,290</p>
            </div>
            <div class="col-6 col-l-4 px-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/homepod.png" alt="">
                <h4 class="txt-subtitle txt-nowrap">HomePod mini</h4>
                <p>NT$3,000</p>
            </div>
        </div>
        <h3 class="feature-3">入門好禮</h3>
        <div class="row justify-center items-center mb-2">
            <div class="col-m-4">
                <img class="img-fluid" src="~/Content/Transitions/img/voucher.png" alt="">
                <h4 class="txt-subtitle">7-ELEVEN禮券</h4>
            </div>
        </div>

        <h2 class="feature-2 txt-primary mb-2" id="register">登錄序號<span class="hidden inline-m">&nbsp;</span><br class="hidden-m">參加抽獎</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "txt-xl txt-bold txt-left needs-validation", @novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-row items-center from-top @css">
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.StoreName)
                    @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control", @placeholder = "輸入門市名稱", @required = true })
                    <div class="invalid-feedback">
                        <p>必填欄位，不可空白。</p>
                    </div>
                </div>
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.StoreID)
                    @Html.TextBoxFor(model => model.StoreID, new { @class = "form-control", @placeholder = "輸入8碼門市統編", @required = true, @pattern = "[0-9]{8}", @maxlength = "8" })
                    <div class="invalid-feedback">
                        <p>必填欄位，並符合8碼數字</p>
                    </div>
                </div>
                <div class="form-group col-10 col-m-7 col-xl-6">
                    <label for="City">門市地址</label>
                    <div class="form-row justify-center">
                        <div class="form-group col-6 col-l-3">
                            <select class="form-control" id="City" name="City" required>
                                <option selected disabled value="">選擇縣市</option>
                                <option value="基隆市">基隆市</option>
                                <option value="臺北市">臺北市</option>
                                <option value="新北市">新北市</option>
                                <option value="桃園市">桃園市</option>
                                <option value="新竹市">新竹市</option>
                                <option value="新竹縣">新竹縣</option>
                                <option value="苗栗縣">苗栗縣</option>
                                <option value="臺中市">臺中市</option>
                                <option value="彰化縣">彰化縣</option>
                                <option value="南投縣">南投縣</option>
                                <option value="雲林縣">雲林縣</option>
                                <option value="嘉義市">嘉義市</option>
                                <option value="嘉義縣">嘉義縣</option>
                                <option value="臺南市">臺南市</option>
                                <option value="高雄市">高雄市</option>
                                <option value="屏東縣">屏東縣</option>
                                <option value="臺東縣">臺東縣</option>
                                <option value="花蓮縣">花蓮縣</option>
                                <option value="宜蘭縣">宜蘭縣</option>
                                <option value="澎湖縣">澎湖縣</option>
                                <option value="金門縣">金門縣</option>
                                <option value="連江縣">連江縣</option>
                            </select>
                            <div class="invalid-feedback">
                                <p>尚未選取縣市</p>
                            </div>
                        </div>
                        <div class="form-group col-6 col-l-3">
                            <select class="form-control" id="Area" name="Area" required selected>
                                <option selected disabled value="">選擇區域</option>
                            </select>
                            <div class="invalid-feedback">
                                <p>尚未選取區域</p>
                            </div>
                        </div>
                        <div class="form-group col-l-6">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "請輸入街道地址", @required = true })
                            <div class="invalid-feedback">
                                <p>必填欄位，不可空白。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row items-center from-top @css">
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.Sales)
                    @Html.TextBoxFor(model => model.Sales, new { @class = "form-control", @placeholder = "輸入姓名", @required = true })
                    <div class="invalid-feedback">
                        <p>必填欄位</p>
                    </div>
                </div>
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "輸入手機", @required = true, @pattern = "09[0-9]{8}", @maxlength = "10" })
                    <div class="invalid-feedback">
                        <p>必填欄位，並符手機格式09xxxxxxxx</p>
                    </div>
                </div>
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.SerialNumber)
                    @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control", @placeholder = "輸入5碼流水編號", @required = true, @pattern = "[0-9]{5}", @maxlength = "5" })
                    @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                    <div class="invalid-feedback">
                        <p>必填欄位，並符合5碼數字</p>
                    </div>
                </div>
                <div class="form-group col-10 col-m-7 col-xl-6">
                    @Html.LabelFor(model => model.Code)
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "輸入6碼確認碼", @required = true, @pattern = "[A-Z0-9]{6}", @maxlength = "6" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    <div class="invalid-feedback">
                        <p>必填欄位，並符合6位碼</p>
                    </div>
                </div>
                <div class="form-group col-8 col-m-4">
                    <button class="btn btn-tertiary btn-block btn-lg" type="submit">送出</button>
                </div>
            </div>
        }
        @if (date <= now)
        {
            <div class="form-group col-8 col-m-4" style="display:inline-flex">
                <a class="btn btn-tertiary btn-block btn-lg">活動結束</a>
            </div>
        }


    </div>
</section>