﻿@model _2bTransitionsevent.Areas.Admin.ViewModels.Exchange.ExchangeView
@{
    ViewBag.Title = "序號兌換管理";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>序號兌換管理</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">

                @using (Html.BeginForm("Edit", "ExchangeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreID)
                                @Html.TextBoxFor(model => model.StoreID, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreName)
                                @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sales)
                                @Html.TextBoxFor(model => model.Sales, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone)
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNumber)
                                @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code)
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card-footer">
                        @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                    }
                </div>
        </div>
    </div>
</section>