﻿@model  _2bTransitionsevent.Areas.Admin.ViewModels.Exchange.ExchangeIndexView
@{
    ViewBag.Title = "Index";
    var title = "序號兌換";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>序號兌換管理</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "ExchangeAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.StoreID, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.StoreID, new { @class = "form-control", @placeholder = "商店統編" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StoreName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control", @placeholder = "商店名稱" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SerialNumber, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control", @placeholder = "序號" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">搜尋</button>
                    </div>
                </div>
            </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">@title 列表</h3>
                </div>
                <div class="card-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row  table-responsive">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th data-sorting="StoreID">
                                                @Html.DisplayNameFor(model => model.StoreID)
                                            </th>
                                            <th data-sorting="StoreName">
                                                @Html.DisplayNameFor(model => model.StoreName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Sales)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SerialNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Code)
                                            </th>
                                            <th data-sorting="CreateTime">
                                                @Html.DisplayNameFor(model => model.CreateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th data-sorting="StoreID">
                                                @Html.DisplayNameFor(model => model.StoreID)
                                            </th>
                                            <th data-sorting="StoreName">
                                                @Html.DisplayNameFor(model => model.StoreName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Sales)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SerialNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Code)
                                            </th>
                                            <th data-sorting="CreateTime">
                                                @Html.DisplayNameFor(model => model.CreateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                        <tr>
                                            <td>
                                                @item.StoreID
                                            </td>
                                            <td>
                                                @item.StoreName
                                            </td>
                                            <td>
                                                @item.Sales
                                            </td>
                                            <td>
                                                @item.SerialNumber
                                            </td>
                                            <td>
                                                @item.Code
                                            </td>
                                            <td>
                                                @item.CreateTime.ToString("yyyy/MM/dd HH:mm")
                                            </td>
                                            <td>
                                                @Html.ActionLink("查看", "Edit", "ExchangeAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}