﻿@model  _2bTransitionsevent.Areas.Admin.ViewModels.Exchange.ExchangeIndexView
@{
    ViewBag.Title = "Statistical";
    var title = "商店兌換統計表";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>商店兌換統計表</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Statistical", "ExchangeAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreID, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.StoreID, new { @class = "form-control", @placeholder = "商店統編" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreName, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control", @placeholder = "商店名稱" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @placeholder = "商店名稱" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @placeholder = "商店名稱" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">@title </h3>
                </div>
                <div class="card-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="">
                                    <label>
                                        共 @Model.PageResult.Data.Count() 筆
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row  table-responsive">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StoreID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StoreName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalCount)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StoreID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StoreName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalCount)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.StoreID
                                                </td>
                                                <td>
                                                    @item.StoreName
                                                </td>
                                                <td>
                                                    @item.TotalCount
                                                </td>
                                                <td>
                                                    @Html.ActionLink("本商店序號兌換列表", "Index", "ExchangeAdmin", new { StoreID = item.StoreID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_PageAdmin", Model.PageResult)*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    @*<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#StartDate").datepicker({
                dateFormat: "yy/mm/dd"
            });
            $("#EndDate").datepicker({
                dateFormat: "yy/mm/dd"
            });
        });
    </script>*@
}